<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151108749446-56vj1sfcdpiq395l50dv39iu11l79g6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151108749446-56vj1sfcdpiq395l50dv39iu11l79g6j</string>
	<key>API_KEY</key>
	<string>AIzaSyA7BDbIuWxKoN14wOj2sBE7gRZAX_ElBCc</string>
	<key>GCM_SENDER_ID</key>
	<string>151108749446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>myapp-63944</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-63944.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151108749446:ios:f82038870fc77527812907</string>
</dict>
</plist>